/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
@media (max-width: 480px) {
	.hero-unit {
		padding: 9px 19px;
	}
	.hero-unit header h1 {
		font-size: 45px;
	}
}
.hero-unit header h1 {
	margin-bottom: 0.125em;
}

footer {
	padding-left: 20px;
	padding-right: 20px;

}

input.search-query {
	border-radius: 3px;
}

/* navbar */
form {
	margin: 0;
}
.navbar input[type="text"] {
	border-radius: 14px;
	margin-bottom: 0;
}
#title {
	margin: 0;
	line-height: 1;
}

/* dropdown container */
.navbar .nav > li.dropdown-container {
	position: relative !important;
}
.navbar .nav > li.dropdown-container a.dropdown-link {
	position: absolute !important;
	top: 0;
	left: 0;
}
.navbar .nav > li.dropdown-container a .caret {
	margin-left: 1.25em;
}
.navbar .in .nav > li.dropdown-container a.dropdown-link {
	width: 100%;
}

/* sidebar */
aside h1, aside h2, aside h3 {
	font-size: 125%;
	line-height: 1.0em;
	margin-top: 0;
	margin-bottom: 0.5em;
}
aside p {
	margin: 0;
}

/* mini-icon */
#sidebar i {
	vertical-align: baseline;
	margin-right: 0.25em;
}

/* divider */
#sidebar .nav-list .divider {
	margin: 0.5em 1px;
}

/* asides/tweets.html, asides/recent_post.html */
#sidebar-tweets p,
#sidebar-recent-posts p {
	margin: 0.25em 0;
}
#sidebar-tweets .nav-list,
#sidebar-recent-posts .nav-list {
	padding-left: 0;
	padding-right: 0;
}

/* asides/recent_post.html */
#sidebar-recent-posts .disqus-comment_count {
	font-size: 85%;
}

/* asides/styles.html */
#sidebar-styles .controls {
	margin-left: 0;
}
#sidebar-styles select {
	width: 100%;
}

/* post page */
#related-posts {
	padding-top: 9px;
	padding-bottom: 9px;
}

/* pager, pagenation */
#main_pagenation ul,
#post_pagenation ul {
	margin-left: 0;
}
#main_pagenation li,
#post_pagenation li {
	margin-bottom: 0.5em;
}

/* twitter status link */
#tweets li a:last-child:hover {
	text-decoration: none;
}
#tweets li a:last-child span {
	font-size: 75%;
}

/* Archives */
#sidebar-archives .nav-tabs a {
	outline: none;
}

/* Tags */
.tag-list {
	list-style: none;
	margin-bottom: 0;
}
.tag-list li {
	margin-right: 0.5em;
	display: inline-block;
	vertical-align: middle;
}
.tag-list li.label {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
.tag-list li.label a {
	color: inherit;
}
.tag-list span {
	font-size: 75%;
	vertical-align: super;
}

/* Post meta data */
p.meta {
}
li.meta i {
	float: left;
	width: 16px;
	margin-right: 0.5em;
}
li.meta ul {
	float: left;
	margin-left: 0;
	margin-right: 1.25em;
}
li.meta li {
	display: inline-block;
	vertical-align: middle;
}

/* Social button */
li.social {
	float: left;
	margin: 4px 10px 4px 4px;
}
